<ul>
  <li><b>Public Facing</b>: {{config.publicFacing}}</li>
  <li>Instances: {{config.numInstances}}</li>
  <li>Environment: </li>
  {{#each k in config.env}}
  <li>{{k.key}} : {{k.value}}</li>
  {{/each}}
  <li>Ports: </li>
  {{#each port in config.ports}}
  <li>{{port.container}} : {{port.host}}</li>
  {{/each}}
</ul>

{{yield}}
