{{#form-wrapper classNames='config__form'}}

  <fieldset>
    {{input config.publicFacing label="Public Facing?" as="checkbox"}}
  </fieldset>
  <fieldset>
    {{input config.numInstances label="Number of instances"}}
  </fieldset>

  <div class="halves config">
      <fieldset>
        <legend>Ports</legend>
        {{#each port in config.ports}}
        <div class="halves">
          <div class="half">
            {{input port.container placeholder=9000 label="container"}}
          </div>
          <div class="half">
            {{input port.host placeholder=81 pattern="^(?!.*80).*$" oninvalid="setCustomValidity('You cannot use port 80')" label="host"}}
            <button class="btn btn--sad" style="float: right;" {{action 'removePort' config port}}>—</button>
          </div>
        </div>
        {{/each}}

        <button class="btn" {{action 'addPorts' config}}>
          <i class="ss-plus btn__icon"></i> Add another port
        </button>
      </fieldset>

      <fieldset>
        <legend>Environment</legend>
        <div class="halves">
          {{#each envKey in config.env}}
            <div class="half">
              {{input envKey.key placeholder="key" label="key"}}
            </div>
            <div class="half">
              {{input envKey.value placeholder="value" label="value"}}
              <button class="btn btn--sad" style="float: right;" {{action 'removeEnvKey' config envKey}}>—</button>
            </div>
          {{/each}}
        </div>

        <button class="btn" {{action 'addEnvKey' config}}>
          <i class="ss-plus btn__icon"></i> Add another key
        </button>
      </fieldset>

      <fieldset>
        <legend>Volumes</legend>
        <div class="halves">
          {{#each volumeKey in config.volume}}
            <div class="half">
              {{input volumeKey.key placeholder="key" label="key"}}
            </div>
            <div class="half">
              {{input volumeKey.value placeholder="value" label="value"}}
              <button class="btn btn--sad" style="float: right;" {{action 'removeVolumeKey' config volumeKey}}>—</button>
            </div>
          {{/each}}
        </div>

        <button class="btn" {{action 'addVolumeKey' config}}>
          <i class="ss-plus btn__icon"></i> Add another volume
        </button>
      </fieldset>
  </div>
{{/form-wrapper}}
<span id="other-errors" class="error"></span>
