{{#link-to 'services'}}← Back to list{{/link-to}}

<div class="cards">
  <div class="card">
    <div class="card__header">
      <h2 class="card__header-title">New Service</h2>
    </div>
    <div class="card__body">
      {{#form-wrapper}}
        {{input model.name placeholder='my-service'}}
        {{input model.description placeholder='Awesome sauce service.'}}
        {{input model.dockerRepository placeholder='node:0.10'}}

        <fieldset>
          <legend>Config</legend>
          {{service-edit config=model}}
        </fieldset>

        <button type="submit" class="btn--primary btn--lg" style="margin-top: 10px;" {{action 'save' model controller}}>Save {{model.name}}</button>
        <span id="other-errors" class="error"></span>
      {{/form-wrapper}}
    </div>
  </div>
</div>
