<div class="cards--thirds">
{{#each host in model}}
  <div class="card">
    <div {{bind-attr class='host.computedHealth:card__header--happy:card__header--sad'}} {{action 'expand' host}}>
      <h3 class="card__header-title">
        {{host.PublicIP}}
      </h3>
    </div>
    {{#if host.isExpanded}}
      {{#if host.units}}
        {{#each unit in host.units}}
          <div class="card__body">
            <ul {{bind-attr class=':health__list unit.isExpanded:health__list--expanded:health__list--collapsed'}}>
              <li {{bind-attr class=':health__title unit.healthy::health__title--sad'}} {{action 'expand' unit}}>
                <h5>{{unit.name}}</h5> <span>v{{unit.version}} #{{unit.instance}}</span>
              </li>
              {{#if unit.isExpanded}}

                {{#health-state property=unit.loadHealthy}}loading: {{unit.loadState}}{{/health-state}}

                {{#health-state property=unit.activeHealthy}}active: {{unit.activeState}}{{/health-state}}

                {{#health-state property=unit.subHealthy}}sub: {{unit.subState}}{{/health-state}}

              {{health-buttons unit=unit}}
              {{/if}}
            </ul>
          </div>
        {{/each}}
      {{else}}
        <div class="card__body">
          <p>No units running.</p>
        </div>
      {{/if}}

      <div class="card__footer">
        {{#link-to 'monitoring.host' host.id classNames='btn btn--primary btn--full'}}
          <i class="ss-stopwatch btn__icon"></i>Monitoring
        {{/link-to}}
      </div>
    {{/if}}
  </div>
{{/each}}
</div>

