{{#link-to 'services'}}← Back to list{{/link-to}}

<div class="cards">
  <div class="card">
    <div class="card__header">
        <h2 class="card__header-title">
            {{id}}
            <div style="float: right;">
                <button class="btn btn--sad" {{action 'destroy' this}}>
                <i class="ss-delete btn__icon"></i>
              </button>
            </div>
        </h2>
    </div>
    <div class="card__body">
      <p>{{description}}</p>
      <p><a {{bind-attr href=dockerLink}}>{{dockerRepository}}</a></p>
      <div class="halves">
        <div class="half config">
          <h3 class="config__title">Last Config</h3>
          {{#if configLast}}
          {{service-config config=configLast}}
          {{else}}
          <p>Service hasn't been deployed yet.</p>
          {{/if}}
        </div>

        <div class="half config">
          <h3 class="config__title">
            Next Config
            {{#unless configEdit.isEditing}}
            <button class='btn btn--sm' {{action 'edit' model}}>
              <i class="ss-write btn__icon"></i>
            </button>
            {{/unless}}
          </h3>
          {{#if configEdit.isEditing}}
            {{service-edit config=configEdit}}
            <button class='btn btn--primary btn--sm' {{action 'save' model}}>
              <span class="glyphicon glyphicon-pencil"></span>
              Save
            </button>
            <button class='btn btn--sad btn--sm' {{action 'cancel' model}}>
              Cancel
            </button>
          {{else}}
            {{service-config config=configNext}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>

{{outlet}}
</div>
