<div class="cards--thirds">
{{#each service in model}}
  <div class="card">
    <div {{bind-attr class='service.computedHealth:card__header--happy:card__header--sad'}} {{action 'expand' service}}>
      <h4 class='card__header-title'>
        {{service.id}}
      </h4>
    </div>
    {{#if service.isExpanded}}
      {{#if service.units}}
        {{#each unit in service.units}}
          <div class="card__body">
            <ul {{bind-attr class=':health-list :health__list unit.isExpanded:health__list--expanded:health__list--collapsed'}}>
              <li {{bind-attr class=':health__title unit.healthy::health__title--sad'}} {{action 'expand' unit}}><h5>{{unit.name}}</h5> <span>v{{unit.version}} #{{unit.instance}}</span></li>
               {{#if unit.isExpanded}}

                {{#health-state property=unit.loadHealthy}}loading: {{unit.loadState}}{{/health-state}}

                {{#health-state property=unit.activeHealthy}}active: {{unit.activeState}}{{/health-state}}

                {{#health-state property=unit.subHealthy}}sub: {{unit.subState}}{{/health-state}}

              {{health-buttons unit=unit}}
              {{/if}}
            </ul>
          </div>
        {{/each}}
      {{else}}
        <div class="card__body">
          <p>No units running.</p>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/each}}
</div>
